<a href="https://colab.research.google.com/github/krunalkatware/krunalkatware/blob/main/Practical_6_ML_KRUNAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#KRUNAL GAJANAN KATWARE
#CS23004

AIM 6 := To Design and Implement an Artificial Neural Network for classification problem and evaluate its learning performance.

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
import tensorflow as tf

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path="/content/drive/MyDrive/MLDataset/churn.csv"
df=pd.read_csv(path)
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df.isnull().any().any()

np.False_

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

In [ ]:
x=df.drop(columns=["Exited"])
y=df["Exited"]

In [ ]:
x=df.iloc[:,3:-1]

In [ ]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
print(x)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [ ]:
from pandas.core.reshape.encoding import get_dummies

x=pd.get_dummies(x,dtype=int)

In [ ]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [ ]:
x.shape

(10000, 13)

In [ ]:
x.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, train_size=0.7,test_size=0.3,random_state=42)

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((7000, 13), (7000,), (3000, 13), (3000,))

In [ ]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
9069,619,32,4,175406.13,2,1,1,172792.43,0,0,1,1,0
2603,643,34,7,160426.07,1,0,1,188533.11,0,1,0,1,0
7738,561,33,6,0.00,2,0,0,173680.39,1,0,0,0,1
1579,618,41,8,37702.79,1,1,1,195775.48,0,1,0,0,1
5058,714,37,9,148466.93,2,0,1,151280.96,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,1,0,0,0,1
5191,682,58,1,0.00,1,1,1,706.50,1,0,0,1,0
5390,735,38,1,0.00,3,0,0,92220.12,1,0,0,1,0
860,667,43,8,190227.46,1,1,0,97508.04,1,0,0,0,1
7270,697,51,1,147910.30,1,1,1,53581.14,0,1,0,0,1

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
x_train

array([[-0.34459497, -0.65674999, -0.34217046, ...,  1.73073215,
         1.09823226, -1.09823226],
       [-0.09518109, -0.46637979,  0.69816249, ..., -0.57779016,
         1.09823226, -1.09823226],
       [-0.94734518, -0.56156489,  0.35138484, ..., -0.57779016,
        -0.91055421,  0.91055421],
       ...,
       [ 0.86090545, -0.08563939, -1.38250341, ..., -0.57779016,
         1.09823226, -1.09823226],
       [ 0.15423279,  0.39028611,  1.04494014, ..., -0.57779016,
        -0.91055421,  0.91055421],
       [ 0.46600014,  1.1517669 , -1.38250341, ..., -0.57779016,
        -0.91055421,  0.91055421]])

In [ ]:
y_test

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
8014    0
1074    0
3063    0
6487    0
4705    0
Name: Exited, Length: 3000, dtype: int64

In [ ]:
ann=tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [ ]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [ ]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
219/219  3s 4ms/step - accuracy: 0.7967 - loss: 0.5798
Epoch 2/100
219/219  1s 4ms/step - accuracy: 0.7918 - loss: 0.5116
Epoch 3/100
219/219  2s 7ms/step - accuracy: 0.7853 - loss: 0.4776
Epoch 4/100
219/219  1s 4ms/step - accuracy: 0.7883 - loss: 0.4549
Epoch 5/100
219/219  1s 5ms/step - accuracy: 0.7897 - loss: 0.4434
Epoch 6/100
219/219  1s 4ms/step - accuracy: 0.8016 - loss: 0.4043
Epoch 7/100
219/219  1s 2ms/step - accuracy: 0.8078 - loss: 0.4151
Epoch 8/100
219/219  0s 2ms/step - accuracy: 0.8238 - loss: 0.3924
Epoch 9/100
219/219  0s 2ms/step - accuracy: 0.8370 - loss: 0.3787
Epoch 10/100
219/219  0s 2ms/step - accuracy: 0.8386 - loss: 0.3730
Epoch 11/100
219/219  0s 2ms/step - accuracy: 0.8386 - loss: 0.3714
Epoch 12/100
219/219  1s 2ms/step - accuracy: 0.8413 - loss: 0.3628
Epoch 13/100
219/219  0s 2ms/step - accuracy: 0.8340 - loss: 0.3772
Epoch 14/100
219/219  0s 2ms/step - accuracy: 0.8405 - loss: 0.3676
Epoch 15/100
219/219  1s 2ms/step - accuracy: 0.8428 - loss: 0.3683
Epoch 16/100
219/219  0s 2ms/step - accuracy: 0.8512 - loss: 0.3637
Epoch 17/100
219/219  0s 2ms/step - accuracy: 0.8483 - loss: 0.3641
Epoch 18/100
219/219  0s 2ms/step - accuracy: 0.8530 - loss: 0.3533
Epoch 19/100
219/219  0s 2ms/step - accuracy: 0.8508 - loss: 0.3548
Epoch 20/100
219/219  0s 2ms/step - accuracy: 0.8394 - loss: 0.3665
Epoch 21/100
219/219  0s 2ms/step - accuracy: 0.8596 - loss: 0.3454
Epoch 22/100
219/219  0s 2ms/step - accuracy: 0.8529 - loss: 0.3475
Epoch 23/100
219/219  0s 2ms/step - accuracy: 0.8574 - loss: 0.3472
Epoch 24/100
219/219  0s 2ms/step - accuracy: 0.8563 - loss: 0.3467
Epoch 25/100
219/219  1s 2ms/step - accuracy: 0.8561 - loss: 0.3460
Epoch 26/100
219/219  0s 2ms/step - accuracy: 0.8672 - loss: 0.3308
Epoch 27/100
219/219  1s 3ms/step - accuracy: 0.8545 - loss: 0.3530
Epoch 28/100
219/219  1s 3ms/step - accuracy: 0.8623 - loss: 0.3396
Epoch 29/100
219/219  1s 3ms/step - accuracy: 0.8497 - loss: 0.3518
Epoch 30/100
219/219  1s 3ms/step - accuracy: 0.8567 - loss: 0.3451
Epoch 31/100
219/219  1s 3ms/step - accuracy: 0.8578 - loss: 0.3429
Epoch 32/100
219/219  0s 2ms/step - accuracy: 0.8574 - loss: 0.3556
Epoch 33/100
219/219  0s 2ms/step - accuracy: 0.8515 - loss: 0.3549
Epoch 34/100
219/219  0s 2ms/step - accuracy: 0.8554 - loss: 0.3531
Epoch 35/100
219/219  0s 2ms/step - accuracy: 0.8662 - loss: 0.3316
Epoch 36/100
219/219  0s 2ms/step - accuracy: 0.8622 - loss: 0.3436
Epoch 37/100
219/219  0s 2ms/step - accuracy: 0.8565 - loss: 0.3399
Epoch 38/100
219/219  0s 2ms/step - accuracy: 0.8655 - loss: 0.3371
Epoch 39/100
219/219  0s 2ms/step - accuracy: 0.8574 - loss: 0.3418
Epoch 40/100
219/219  0s 2ms/step - accuracy: 0.8553 - loss: 0.3381
Epoch 41/100
219/219  0s 2ms/step - accuracy: 0.8599 - loss: 0.3389
Epoch 42/100
219/219  0s 2ms/step - accuracy: 0.8565 - loss: 0.3469
Epoch 43/100
219/219  0s 2ms/step - accuracy: 0.8705 - loss: 0.3264
Epoch 44/100
219/219  0s 2ms/step - accuracy: 0.8581 - loss: 0.3475
Epoch 45/100
219/219  0s 2ms/step - accuracy: 0.8574 - loss: 0.3423
Epoch 46/100
219/219  0s 2ms/step - accuracy: 0.8600 - loss: 0.3464
Epoch 47/100
219/219  0s 2ms/step - accuracy: 0.8619 - loss: 0.3382
Epoch 48/100
219/219  0s 2ms/step - accuracy: 0.8529 - loss: 0.3491
Epoch 49/100
219/219  0s 2ms/step - accuracy: 0.8605 - loss: 0.3313
Epoch 50/100
219/219  0s 2ms/step - accuracy: 0.8556 - loss: 0.3467
Epoch 51/100
219/219  0s 2ms/step - accuracy: 0.8625 - loss: 0.3319
Epoch 52/100
219/219  0s 2ms/step - accuracy: 0.8547 - loss: 0.3414
Epoch 53/100
219/219  1s 2ms/step - accuracy: 0.8575 - loss: 0.3434
Epoch 54/100
219/219  1s 2ms/step - accuracy: 0.8610 - loss: 0.3364
Epoch 55/100
219/219  1s 3ms/step - accuracy: 0.8575 - loss: 0.3516
Epoch 56/100
219/219  1s 3ms/step - accuracy: 0.8612 - loss: 0.3294
Epoch 57/100
219/219  1s 3ms/step - accuracy: 0.8587 - loss: 0.3417
Epoch 58/100
219/219  0s 2ms/step - accuracy: 0.8566 - loss: 0.3489
Epoch 59/100
219/219  0s 2ms/step - accuracy: 0.8652 - loss: 0.3290
Epoch 60/100
219/219  0s 2ms/step - accuracy: 0.8604 - loss: 0.3416
Epoch 61/100
219/219  0s 2ms/step - accuracy: 0.8581 - loss: 0.3430
Epoch 62/100
219/219  0s 2ms/step - accuracy: 0.8632 - loss: 0.3366
Epoch 63/100
219/219  0s 2ms/step - accuracy: 0.8557 - loss: 0.3439
Epoch 64/100
219/219  0s 2ms/step - accuracy: 0.8521 - loss: 0.3528
Epoch 65/100
219/219  0s 2ms/step - accuracy: 0.8619 - loss: 0.3337
Epoch 66/100
219/219  0s 2ms/step - accuracy: 0.8603 - loss: 0.3437
Epoch 67/100
219/219  0s 2ms/step - accuracy: 0.8647 - loss: 0.3339
Epoch 68/100
219/219  0s 2ms/step - accuracy: 0.8612 - loss: 0.3416
Epoch 69/100
219/219  0s 2ms/step - accuracy: 0.8644 - loss: 0.3361
Epoch 70/100
219/219  0s 2ms/step - accuracy: 0.8624 - loss: 0.3348
Epoch 71/100
219/219  0s 2ms/step - accuracy: 0.8598 - loss: 0.3397
Epoch 72/100
219/219  0s 2ms/step - accuracy: 0.8615 - loss: 0.3417
Epoch 73/100
219/219  0s 2ms/step - accuracy: 0.8575 - loss: 0.3410
Epoch 74/100
219/219  0s 2ms/step - accuracy: 0.8601 - loss: 0.3381
Epoch 75/100
219/219  0s 2ms/step - accuracy: 0.8603 - loss: 0.3374
Epoch 76/100
219/219  0s 2ms/step - accuracy: 0.8591 - loss: 0.3345
Epoch 77/100
219/219  0s 2ms/step - accuracy: 0.8570 - loss: 0.3413
Epoch 78/100
219/219  0s 2ms/step - accuracy: 0.8685 - loss: 0.3309
Epoch 79/100
219/219  0s 2ms/step - accuracy: 0.8610 - loss: 0.3347
Epoch 80/100
219/219  1s 2ms/step - accuracy: 0.8591 - loss: 0.3395
Epoch 81/100
219/219  1s 3ms/step - accuracy: 0.8611 - loss: 0.3409
Epoch 82/100
219/219  1s 3ms/step - accuracy: 0.8553 - loss: 0.3493
Epoch 83/100
219/219  1s 3ms/step - accuracy: 0.8650 - loss: 0.3310
Epoch 84/100
219/219  1s 3ms/step - accuracy: 0.8565 - loss: 0.3437
Epoch 85/100
219/219  1s 3ms/step - accuracy: 0.8618 - loss: 0.3456
Epoch 86/100
219/219  1s 3ms/step - accuracy: 0.8617 - loss: 0.3380
Epoch 87/100
219/219  0s 2ms/step - accuracy: 0.8587 - loss: 0.3446
Epoch 88/100
219/219  0s 2ms/step - accuracy: 0.8530 - loss: 0.3443
Epoch 89/100
219/219  0s 2ms/step - accuracy: 0.8579 - loss: 0.3428
Epoch 90/100
219/219  0s 2ms/step - accuracy: 0.8635 - loss: 0.3368
Epoch 91/100
219/219  0s 2ms/step - accuracy: 0.8558 - loss: 0.3434
Epoch 92/100
219/219  0s 2ms/step - accuracy: 0.8669 - loss: 0.3294
Epoch 93/100
219/219  0s 2ms/step - accuracy: 0.8601 - loss: 0.3382
Epoch 94/100
219/219  0s 2ms/step - accuracy: 0.8630 - loss: 0.3356
Epoch 95/100
219/219  0s 2ms/step - accuracy: 0.8562 - loss: 0.3431
Epoch 96/100
219/219  0s 2ms/step - accuracy: 0.8664 - loss: 0.3322
Epoch 97/100
219/219  0s 2ms/step - accuracy: 0.8560 - loss: 0.3448
Epoch 98/100
219/219  0s 2ms/step - accuracy: 0.8657 - loss: 0.3400
Epoch 99/100
219/219  0s 2ms/step - accuracy: 0.8616 - loss: 0.3402
Epoch 100/100
219/219  0s 2ms/step - accuracy: 0.8598 - loss: 0.3435

In [ ]:
y_pred=ann.predict(x_test)
y_pred=(y_pred>0.5)
y_pred

94/94  0s 2ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
print("Confusion Matrix")
cm=confusion_matrix(y_test,y_pred)
print(cm)

Confusion Matrix
[[2330   86]
 [ 302  282]]

In [ ]:
print("Accuracy Score")
accuracy_score(y_test,y_pred)

Accuracy Score

0.8706666666666667

In [1]:
print('classification report')
print(classification_report(y_test,y_pred))

classification report

NameError: name 'classification_report' is not defined